@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url(./notebook.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
  font-family: 'Raleway', sans-serif;

}

h1 {
  margin: 40px auto;
  font-family: 'Raleway', sans-serif;
}

h5 {
  width: 100%;
  margin-right: 10px;
}

i {
  margin: 0px 10px;
}

button {
  width: 150px;
  height: 50px;
  margin-top: 50px;
  padding: 10px;
  color: whitesmoke;
  border-radius: 10px;
  background-color: rgba(187, 25, 25, 0.5);
  box-shadow: 5px 5px 5px rgb(61, 60, 60);
}

button:hover {
  filter: brightness(120%);
  animation: all 0.5s scale(1.1);
  cursor: pointer;
}

button:focus {outline:0;}

/* Items classes */
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.items-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgba(167, 85, 85, 0.2);
  border-radius: 5px;
}

.todo-item {
  position: relative;
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  color: whitesmoke;
  min-width: 150px;
  min-height: 50px;
  margin: 10px;
  padding: 5px;
  background-color: rgb(110, 74, 74);
  border-radius: 5px;
  box-shadow: 5px 5px 12px rgb(61, 60, 60);  
}

.todo-item:hover {
  filter: brightness(110%);
}

/* close button for bookmark*/
.position{
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 7px;
  background-color: rgb(110, 74, 74);
  border-radius: 5px;
}

.fa-window-close {
  font-size: 20px;
  cursor: pointer;
}

/* Modal styles */
.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.4);
}

.show-modal {
  display: flex;
}

.modal {
  position: relative;
  max-width: 400px;
  width: 95%;
  height: 200px;
  padding: 20px;  
  background-color: white;
  border-radius: 10px;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal i {
  position: absolute;
  right: 0;
  top: 10px;
}

.modal-content {
  width: 100%;
}

.bookmark-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 1rem;
  width: 100%;
  margin-top: 10px;
}

.submit {
  padding: 5px;
  margin-top: 10px;
  color: whitesmoke;
  border-radius: 0;
  width: auto;
  height: auto;
  background-color: rgb(2, 2, 2, 0.8);
  box-shadow: 3px 3px 5px rgb(61, 60, 60);  
}

